#body {
    background-color: #1ecbe1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    flex-direction: column; /* New: Stack elements vertically */
  }
  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 2px;
    width: 306px; /* (100px * 3) + (2px * 2) */
  }
  .cell {
    background-color: rgb(245, 241, 241);
    border: 1px solid black;
    display: flex;
    border-radius: 5%;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    cursor: pointer;
  }
  #message {
    margin-top: 25px; /* New: Add space between grid and message */
  }

  @media (max-width: 400px) {
    .container {
      width: 90vw;
      grid-template-columns: repeat(3, calc(33.33vw - 4px));
      grid-template-rows: repeat(3, calc(33.33vw - 4px));
    }
  }